
.gray-block {
    background-color: lightgray;
    height: 250px;
    width: 375px;
    margin: auto;
    padding: 5px;
}
.name-tag {
    display: block;
    background: red;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    color: white;
}
.hello {
    display:block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}
.my-Name-is {
    font-family:Arial, Helvetica, sans-serif;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-Display {
    background-color: white;
    height: 150px;
    margin: auto;   
    font-family:cursive;
    font-size: 35px;
    color: black;   
}
p {
       text-align: center;
}
.pink {
    background-color: pink;
}

.green {
    background-color: lightgreen;
}

.blue {
    background-color: lightblue;
}